.DS_Store
Caramelo-Vira-Lata.xcodeproj/project.pbxproj
Caramelo-Vira-Lata.xcodeproj/project.xcworkspace/contents.xcworkspacedata
Caramelo-Vira-Lata.xcodeproj/project.xcworkspace/xcuserdata/thadary.xcuserdatad/UserInterfaceState.xcuserstate
Caramelo-Vira-Lata.xcodeproj/xcuserdata/thadary.xcuserdatad/xcschemes/xcschememanagement.plist
Caramelo-Vira-Lata/Base.lproj/LaunchScreen.storyboard
Caramelo-Vira-Lata/Resources/Assets.xcassets/AccentColor.colorset/Contents.json
Caramelo-Vira-Lata/Resources/Assets.xcassets/AppIcon.appiconset/Contents.json
Caramelo-Vira-Lata/Resources/Assets.xcassets/Contents.json
Caramelo-Vira-Lata.xcodeproj/xcuserdata/thadary.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
Caramelo-Vira-Lata/Resources/Img/Assets.xcassets/AppIcon.appiconset/Contents.json
Caramelo-Vira-Lata/Resources/Img/Assets.xcassets/AppIcon.appiconset/Contents.json
